
#root {
    --text-color-white: rgba(255, 255, 255, 1);
    --text-color-gray100: rgba(250, 250, 250, 1);
    --text-color-gray200: rgba(191, 191, 212, 1);
    --text-color-gray300: rgba(171, 171, 196, 1);
    --text-color-gray400: rgba(127, 127, 152, 1);
    --bg-color-gray500: rgba(59, 59, 84, 1);
    --bg-color-gray600: rgba(30, 30, 41, 1);
    --bg-color-gray700: rgba(28, 28, 39, 1);
    --bg-color-gray800: rgba(22, 22, 31, 1);
    --bg-color-gray900: rgba(19, 19, 26, 1);
    --heading-hg: 96px;
    --heading-xl: 48px;
    --heading-lg: 32px;
    --text-lg: 20px;
    --text-md: 16px;
    --text-sm: 14px;
    --text-xs: 12px;
    --text-bold: 700;
    --text-regular: 400;
    --text-extra-bold: 800;
    --accent-color: #22d9c8;

}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/*///////////////////////////////////////////////*/

@font-face {
    font-family: 'Nunito';
    src: local("Nunito"),
    url("./fonts/static/Nunito-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: local("Nunito"),
    url("./fonts/static/Nunito-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: local("Nunito"),
    url("./fonts/static/Nunito-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}


.forecast{
    display: flex;
    gap: 25px;
    font-family: 'Nunito', serif;
}

.h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 25px;

}

.header {
    display: flex;
    gap: 16px;
}


.forecast__column1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
    background: var(--bg-color-gray800);
    padding: 16px;
}

.header__logo-wrapper {
    background: var(--bg-color-gray600);
    border-radius: 8px;
    padding: 8px;
}

.header__logo {
    max-width: 40px;
}

.weather-today__temp {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    color: var(--text-color-white);
}

.temp{
    color: var(--text-color-white);
}



.info-today {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("./img/background/FewCloudsNight.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    height: 100%;
    padding: 32px;
}

.location {
    display: flex;
    gap: 260px;
    color: var(--text-color-gray100);
}


.location__address {
    font-weight: var(--text-bold);
    font-size: var(--text-lg);
}

.location__time {
    font-weight: var(--text-bold);
    font-size: var(--text-lg);
}

.details-list__value {
    font-weight: var(--text-bold);
    font-size: var(--text-lg);
    color: var(--text-color-gray100);
}

.temp__today {
    font-weight: var(--text-bold);
    font-size: var(--text-lg);
}

.temp__desc {
    font-weight: var(--text-regular);
    font-size: var(--text-lg);
}

.location__data {
    font-weight: var(--text-regular);
    font-size: var(--text-md);
}


.temp__value {
    font-weight: var(--text-extra-bold);
    font-size: var(--heading-hg);
}

.h2 {
    color: var(--text-color-gray200);
    font-size: var(--text-lg);
    font-weight: var(--text-regular);
    margin-bottom: 20px;
}

.h3 {
    color: var(--text-color-gray200);
    font-size: var(--text-sm);
    font-weight: var(--text-bold);
}

.day__status {
    font-weight: var(--text-regular);
    font-size: var(--text-sm);
    color: var(--text-color-gray200);
}

.day__temp-wrapper {
    display: flex;
    gap: 8px;
    font-weight: var(--text-bold);
    font-size: var(--text-sm);
    color: var(--text-color-gray100);
}

.day__night-temp{
    color: var(--text-color-gray400);
}


.weather-today {
    display: flex;
    justify-content: space-between;
    color: var(--text-color-white);
}

.details-wrapper {
    background: var(--bg-color-gray800);
    border-radius: 8px;
    padding: 24px;
    padding-top: 28px;
}

.temp__details {
    display: flex;
    align-items: center;
    gap: 12px;
}

.forecast__column2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.icon-wrapper {
    color: var(--accent-color);
}

.weather-today__img-wrapper {
    max-width: 248px;
    max-height: 248px;
    margin-right: -32px;
    margin-bottom: -32px;
}

.divider {
    opacity: 40%;
    background-color: var(--text-color-white);
    width: 8px;
    height: 8px;
    border-radius: 4px;
}

.details-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-top: 20px;

}

.details-list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details-list__title {
    display: flex;
    gap: 12px;
    align-items: center;
}

hr {
    border-color: var(--bg-color-gray700);
}



.next-days {
    display: flex;
    align-items: center;
    text-align: center;
}

.next-days__card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    padding: 28px 24px;
}

.img-wrapper {
    width: 67px;
    height: 67px;
}

.day__desc {
    display: flex;
    flex-direction: column;
    gap: 4px;
}


/*////////////////////////////////*/

.search-bar {
    width: 100%;
    color: var(--text-color-gray100);
}

span{
    display: none;
}

