
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/*///////////////////////////////////////////////*/

.container {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.header {
    display: flex;
    margin: 16px;
}

.content {
    margin: 25px;
    border-radius: 8px;
    background: rgba(22, 22, 31, 1);
}

.logo {
    margin-right: 12px;
    background: rgba(30, 30, 41, 1);
    border-radius: 8px;
    padding: 8px;
}

.search-bar {
    background: rgba(30, 30, 41, 1);
    border-radius: 8px;
    width: 100%;
}

.input {
    background: none;
    border: none;
    borderRadius: 8px;
    padding: 17px 20px;
    width: 100%;
}

.info-today {
    background-image: url("./img/background/FewCloudsNight.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 16px;
    border-radius: 8px;
}

.location {
    display: flex;
    padding: 32px;
    justify-content: space-between;
    color: rgba(255, 255, 255, 1);
}

.weather-today {
    display: flex;
    padding-top: 250px;
    padding-left: 32px;
    padding-right: 32px;
}

.container-details {
    background: rgba(22, 22, 31, 1);
    border-radius: 8px;
    padding: 25px;
}

.header-details {
    /*padding-right: 420px;*/
    /*color: rgba(191, 191, 212, 1);*/
}

.details {
    display: flex;
    align-items: center;
    gap: 12px;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 36px;

}

.divider {
    opacity: 40%;
    background-color: rgba(255, 255, 255, 1);
    width: 8px;
    height: 8px;
    border-radius: 4px;
}

.details-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-top: 20px;

}

.details-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.details-title {
    display: flex;
    gap: 12px;
    align-items: center;
}

.font-c {
    color: rgba(191, 191, 212, 1);
}

hr {
    border-color: rgba(28, 28, 39, 1);
}

.h2 {
    color: rgba(127, 127, 152, 1);
    font-size: 16px;
}

.h3 {
    color: rgba(191, 191, 212, 1);
    font-size: 14px;
}

.next-days {
    display: flex;
    align-items: center;
    text-align: center;
}

.day {
    margin: 0 24px;
}

.font-c2 {
    color: rgba(127, 127, 152, 1)
}

.info {
    padding: 12px 0;
}

.weather-img {
    width: 67px;
}

.info-item {
    display: flex;
    gap: 8px;
}

.day-title {
    padding-top: 28px;
    padding-bottom: 12px;
}